.Debug-root {
    width: 100%;
    padding: 20px;
}

.row-style {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.col-style {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.Toggle-button {
    border: 1px solid black;
    cursor: pointer;
    padding: 10px;
    margin: auto;
}

.Select-style {
    width: 50%;
}

.Reel-title-style {
    margin: auto;
    padding: 10px;
}

.Mode-container {
    margin: auto;
}