.App-root {
  display: flex;
  height: 100vh;
  font-weight: bold;
}

.rowStyle {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 900px;
  padding: 20px;
  border: 3px solid black;
}

.App-container {
  margin: auto;
}

